@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
  font-family: "Nanum Gothic", sans-serif;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#logo-container {
  font-weight: bold;
}

#main-navbar > li > a {
  padding: 0 2rem;
}

#sub-navbar {
  display: none;
}

#nav-mobile ul {
  display: none;
}

#video-bg {
  width: 100%;
  height: 50vm;
  height: 50vmin;
}

#video-bg h1 {
  font-size: 8vm;
  font-size: 8vmin;
  margin: 0 0 5vm 0;
  margin: 0 0 5vmin 0;
  font-weight: bold;
}

#video-bg .banner {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQIW2NkYGD4z8DAwMjIAAUADikBA/ggJToAAAAASUVORK5CYII=");
}

#video-bg .banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.title h3 {
  margin-bottom: 0;
}

.title p {
  margin: 0;
}

#career .card-panel {
  border-radius: 10%;
}

#bottom-banner {
  background-image: url(../img/bottom-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 9rem;
}

#second-sitemap {
  display: none;
}

#address :first-child {
  padding-right: 2rem;
}

#address span::after {
  content: "|";
  padding: 0 .5rem;
}

#news .right > span::after {
  content: "|";
  padding: 0 .5rem;
}

#bottom-banner2 {
  background-image: url(../img/bottom-banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 9rem;
}

#bottom-banner2 h1 {
  font-weight: bold;
  text-shadow: #000 0px 0px 10px;
  /* for browsers without spread support */
  text-shadow: #000 0px 0px 10px 10px;
  /* for browsers with spread support */
}

#bottom-banner2 h2 {
  font-weight: bold;
  text-shadow: #000 0px 0px 10px;
  /* for browsers without spread support */
  text-shadow: #000 0px 0px 10px 10px;
  /* for browsers with spread support */
}

#bottom-banner2 h3 {
  font-weight: bold;
  text-shadow: #000 0px 0px 10px;
  /* for browsers without spread support */
  text-shadow: #000 0px 0px 10px 10px;
  /* for browsers with spread support */
}

#bottom-banner2 h4 {
  font-weight: bold;
  text-shadow: #000 0px 0px 10px;
  /* for browsers without spread support */
  text-shadow: #000 0px 0px 10px 10px;
  /* for browsers with spread support */
}

#bottom-banner2 h5 {
  font-weight: bold;
  text-shadow: #000 0px 0px 10px;
  /* for browsers without spread support */
  text-shadow: #000 0px 0px 10px 10px;
  /* for browsers with spread support */
}
